# concatenate 2 series

In [ ]:
import pandas as pd
import numpy as np
s1= pd.Series([12,45,32,56],index = np.arange(1,5))
s2 = pd.Series([32,35,38,26], index = [1,2,4,5])

df = pd.DataFrame(index = np.arange(1,10))
df['Maths']= s1
df['Science']= s2

print(df)

   Maths  Science
1   12.0     32.0
2   45.0     35.0
3   32.0      NaN
4   56.0     38.0
5    NaN     26.0
6    NaN      NaN
7    NaN      NaN
8    NaN      NaN
9    NaN      NaN

creating a dataframe

In [ ]:
df2 = pd.DataFrame(columns =['Name','Subject','dept','salary'], index = np.arange(1,6) )
df2['Name']=['sakshi','sayali','swara','kaveri','nitisha']
print(df2)

      Name Subject dept salary
1   sakshi     NaN  NaN    NaN
2   sayali     NaN  NaN    NaN
3    swara     NaN  NaN    NaN
4   kaveri     NaN  NaN    NaN
5  nitisha     NaN  NaN    NaN

creating dataframe using Dictionary

In [ ]:
df3 = pd.DataFrame({
    'Name' :['sakshi','sayali','swara','kaveri','nitisha'],
    'subject' : ['marathi','english','maths','psychology','science'],
    'dept' : list('ASDFG'),
    'Salary': ['2032','3433','4433','554','333']
})
print(df3)

      Name     subject dept Salary
0   sakshi     marathi    A   2032
1   sayali     english    S   3433
2    swara       maths    D   4433
3   kaveri  psychology    F    554
4  nitisha     science    G    333

In [ ]:
df3['location']=pd.Series(['Thane','Mulund','Nahur','Bhandup','Ghatkopar'])
print(df3)

      Name     subject dept Salary   location
0   sakshi     marathi    A   2032      Thane
1   sayali     english    S   3433     Mulund
2    swara       maths    D   4433      Nahur
3   kaveri  psychology    F    554    Bhandup
4  nitisha     science    G    333  Ghatkopar

# retrieve data

In [ ]:
df3.columns

Index(['Name', 'subject', 'dept', 'Salary', 'location'], dtype='object')

In [ ]:
df3.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df3[['Name','location']]

      Name   location
0   sakshi      Thane
1   sayali     Mulund
2    swara      Nahur
3   kaveri    Bhandup
4  nitisha  Ghatkopar

----.loc (index value) ex - 802,901
----.iloc(natural index) ex - 1,2

In [ ]:
df3.iloc[1]

Name         sayali
subject     english
dept              S
Salary         3433
location     Mulund
Name: 1, dtype: object

In [ ]:
df3[['Name','location']].loc[[2,1,3]]

     Name location
2   swara    Nahur
1  sayali   Mulund
3  kaveri  Bhandup

# practice problem1

In [ ]:
product_data = pd.DataFrame({
    'prname':['soap','shampoo','conditioner','facewash'],
    'prnumber' : np.arange(1,5),
    'prprice' :['20','30','40','60'],
    'prquantity':['10','2','32','23']

},index = np.arange(800,804))
print(product_data)

          prname  prnumber prprice prquantity
800         soap         1      20         10
801      shampoo         2      30          2
802  conditioner         3      40         32
803     facewash         4      60         23

In [ ]:
product_data.columns

Index(['prname', 'prnumber', 'prprice', 'prquantity'], dtype='object')

In [ ]:
product_data['prprice'].loc[801]

'30'

In [ ]:
product_data[['prname','prquantity','prprice']].loc[[802,800,801]]

          prname prquantity prprice
802  conditioner         32      40
800         soap         10      20
801      shampoo          2      30

In [ ]:
product_data['prprice'].loc[802] = '30'
print(product_data)

          prname  prnumber prprice prquantity
800         soap         1      20         10
801      shampoo         2      30          2
802  conditioner         3      30         32
803     facewash         4      60         23

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
product_data['prname'][803]='hand wash'
print(product_data)

          prname  prnumber prprice prquantity
800         soap         1      20         10
801      shampoo         2      30          2
802  conditioner         3      30         32
803    hand wash         4      60         23

<ipython-input-16-be7c71f9388b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_data['prname'][803]='hand wash'

# renaming

In [ ]:
df3.rename({'Name':'nname'}, axis=1, inplace =True)
df3

     nname     subject dept Salary   location
0   sakshi     marathi    A   2032      Thane
1   sayali     english    S   3433     Mulund
2    swara       maths    D   4433      Nahur
3   kaveri  psychology    F    554    Bhandup
4  nitisha     science    G    333  Ghatkopar

In [ ]:
df3.rename({2:811},inplace= True)
df3

       nname     subject dept Salary   location
0     sakshi     marathi    A   2032      Thane
1     sayali     english    S   3433     Mulund
811    swara       maths    D   4433      Nahur
3     kaveri  psychology    F    554    Bhandup
4    nitisha     science    G    333  Ghatkopar

In [ ]:
df3.drop('dept', axis=1, inplace=True)
df3

      Name Salary   location
0   sakshi   2032      Thane
1   sayali   3433     Mulund
2    swara   4433      Nahur
3   kaveri    554    Bhandup
4  nitisha    333  Ghatkopar

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Salary    5 non-null      object
 2   location  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [ ]:
df3.isnull().sum()

Name        0
Salary      0
location    0
dtype: int64